# 依存関係
/node_modules
/.pnp
.pnp.js

# テスト
/coverage

# ビルド出力
/build
/dist
/.next/
/out/

# 環境変数
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ログ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# エディタ
/.idea
/.vscode
*.swp
*.swo
.DS_Store

# その他
.vercel
.netlify

# parcel-cache
.parcel-cache