.image-placeholder-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0px;
  bottom: -1px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.course-title-placeholder {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--colors-base-white);
  z-index: 0;
}
.original-1-icon {
  height: 36px;
  width: 176px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.a {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  cursor: pointer;
}
.navigation-links {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.course-navigation-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-icon {
  height: 16px;
  width: 20px;
  position: relative;
  display: none;
  min-height: 16px;
}
.b31 {
  position: relative;
  font-size: var(--text-base-bold-size);
  line-height: 100%;
  font-family: var(--font-noto-sans);
  color: var(--colors-base-white);
  text-align: left;
  white-space: nowrap;
}
.button11 {
  cursor: pointer;
  border: none;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--syoku-02);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button11:hover {
  background-color: var(--color-hotpink);
}
.course-navigation {
  width: 605px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
  max-width: 100%;
  z-index: 2;
}
.course-title-placeholder-parent {
  align-self: stretch;
  box-shadow: 0px 4px 4px rgba(156, 156, 156, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-22xl) var(--padding-mini) 48px;
  box-sizing: border-box;
  position: sticky;
  gap: var(--gap-xl);
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-sm-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.frame-child {
  height: 63px;
  width: 296px;
  position: relative;
  background-color: var(--colors-base-white);
  display: none;
}
.h1 {
  margin: 0;
  height: 55px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  z-index: 2;
}
.rectangle-parent {
  width: 296px;
  background-color: var(--colors-base-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-5xs) var(--padding-10xs)
    var(--padding-3xl);
  box-sizing: border-box;
  z-index: 1;
}
.frame-item {
  height: 96px;
  width: 790px;
  position: relative;
  background-color: var(--syoku-01);
  display: none;
  max-width: 100%;
}
.day {
  margin: 0;
  height: 74px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.rectangle-group {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: var(--syoku-01);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-8xl);
  box-sizing: border-box;
  max-width: 100%;
}
.intro-description-content {
  height: 124px;
  width: 790px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-9xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.top-link-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--colors-base-white);
  border: 0px solid var(--syoku-01);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.top {
  position: absolute;
  height: 41.96%;
  width: 62.14%;
  top: 42.14%;
  left: 19.64%;
  display: inline-block;
  z-index: 1;
}
.top-link-circle-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.toplink-child {
  position: absolute;
  height: 23.04%;
  width: 22.86%;
  top: 23.21%;
  right: 39.64%;
  bottom: 53.75%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.toplink {
  height: 56px;
  width: 56px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 3;
  text-align: center;
  font-size: var(--text-sm-bold-size);
  color: var(--syoku-01);
  font-family: var(--font-noto-sans-jp);
}
.intro-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: 54px;
  color: var(--colors-base-white);
}
.intro-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.course-intro {
  width: 1277px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-18xl);
  box-sizing: border-box;
  max-width: 100%;
}
.image-placeholder-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-17xl);
  box-sizing: border-box;
  position: relative;
  gap: 436px;
  max-width: 100%;
}
.content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-38xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.p {
  margin: 0;
}
.span {
  font-family: var(--font-noto-sans);
  color: var(--text-01);
}
.p1 {
  margin: 0;
  color: var(--syoku-01);
}
.div60 {
  height: 72px;
  position: relative;
  line-height: 180%;
  display: inline-block;
}
.design-challenge {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) var(--padding-37xl);
  text-align: center;
  font-size: var(--text-xl-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.frame-inner {
  height: 472px;
  width: 1440px;
  position: relative;
  background-color: var(--color-lightcyan);
  display: none;
  max-width: 100%;
}
.adobestock-555313528-1-icon {
  width: 370px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 360px;
  max-width: 100%;
}
.rectangle-div {
  height: 359px;
  width: 667px;
  position: relative;
  background-color: var(--colors-base-white);
  display: none;
  max-width: 100%;
}
.dilemma-card-background {
  position: absolute;
  height: 79.1%;
  width: 87.73%;
  top: 21.31%;
  right: 12.27%;
  bottom: -0.41%;
  left: 0%;
  background-color: var(--colors-base-white);
  border: 0.7px solid var(--color-darkgray);
  box-sizing: border-box;
}
.dilemma-card-icon {
  position: absolute;
  height: 66.8%;
  width: 90.91%;
  top: 0%;
  right: 0%;
  bottom: 33.2%;
  left: 9.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dilemma-card-background-parent {
  height: 24.4px;
  width: 22px;
  position: relative;
}
.div61 {
  flex: 1;
  position: relative;
  line-height: 130%;
  display: inline-block;
  min-width: 325px;
  max-width: 100%;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  max-width: 100%;
  flex-shrink: 0;
}
.div2 {
  width: 500px;
  position: relative;
  line-height: 130%;
  display: inline-block;
  flex-shrink: 0;
  max-width: calc(100% - 38px);
}
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  max-width: 100%;
  flex-shrink: 0;
}
.dilemma-description {
  width: 538px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-12xs-1);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
  z-index: 1;
}
.group-div {
  flex: 1;
  background-color: var(--colors-base-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) var(--padding-37xl) 36.1px;
  box-sizing: border-box;
  min-width: 335px;
  max-width: 100%;
}
.problem-illustration {
  width: 1037px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-0);
  max-width: 100%;
  z-index: 1;
}
.rectangle-container {
  align-self: stretch;
  background-color: var(--color-lightcyan);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-37xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-base-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.day1 {
  margin: 0;
  width: 420px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.solution-highlight-child {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 1440px;
  height: 128px;
}
.solution-highlight-item {
  position: absolute;
  top: 0px;
  left: 697px;
  width: 46px;
  height: 34px;
  object-fit: contain;
  z-index: 1;
}
.solution-highlight {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -9px;
  right: 0px;
  left: 0px;
}
.solution {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-33xl) var(--padding-xl) 43px 511px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-2xl-bold-size);
  color: var(--colors-base-white);
  font-family: var(--font-noto-sans);
}
.h3 {
  margin: 0;
  height: 33px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.instance-child {
  width: 60px;
  height: 4px;
  position: relative;
  background-color: var(--syoku-01);
}
.parent17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.benefit-highlight {
  width: 1020px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.b32 {
  position: relative;
}
.div66 {
  align-self: stretch;
  height: 96px;
  position: relative;
  font-size: var(--text-sm-bold-size);
  line-height: 170%;
  display: inline-block;
}
.parent18 {
  position: absolute;
  width: 100%;
  top: 196px;
  right: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.learning-point-highlight {
  position: absolute;
  height: 54.55%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 45.45%;
  left: 0%;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent3 {
  height: 330px;
  flex: 1;
  position: relative;
}
.benefit-description-inner {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 225px;
}
.div68 {
  align-self: stretch;
  height: 120px;
  position: relative;
  font-size: var(--text-sm-bold-size);
  line-height: 170%;
  display: inline-block;
}
.frame-child10 {
  position: absolute;
  height: 50.85%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 49.15%;
  left: 0%;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent5 {
  height: 354px;
  flex: 1;
  position: relative;
}
.benefit-description {
  width: 1020px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 60px;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-base-bold-size);
}
.course-benefits {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-69xl) var(--padding-xl) 78px;
  box-sizing: border-box;
  gap: var(--gap-37xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--text-2xl-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.top-banner-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.h31 {
  margin: 0 !important;
  align-self: stretch;
  height: 82px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: inherit;
  line-height: 170%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.signup-button-icon {
  height: 16px;
  width: 20px;
  position: relative;
  min-height: 16px;
}
.b35 {
  position: relative;
  font-size: var(--text-base-bold-size);
  line-height: 100%;
  font-family: var(--font-noto-sans);
  color: var(--colors-base-white);
  text-align: left;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px var(--padding-47xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.parent1 {
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 106px 0px 0px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.top-banner-background-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 65.5px var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--text-2xl-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.workshop-title-background {
  align-self: stretch;
  height: 4px;
  position: relative;
  background-color: var(--syoku-01);
}
.parent12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.workshop-title-highlight {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-13xl);
  text-align: center;
  font-size: var(--text-2xl-bold-size);
  color: var(--text-01);
}
.workshop-title-container {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.workshop-title-container-wrapper {
  width: 992.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.component-11-icon {
  width: 408px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.h33 {
  margin: 0;
  height: 76px;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.adobe-express {
  align-self: stretch;
  height: 126px;
  position: relative;
  line-height: 180%;
  display: inline-block;
  flex-shrink: 0;
}
.div70 {
  position: relative;
  font-weight: 500;
}
.workshop-date-title {
  height: 26px;
  width: 48px;
  background-color: var(--syoku-01);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div71 {
  position: relative;
  color: var(--text-01);
  white-space: nowrap;
}
.workshop-schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.instructor-title {
  height: 26px;
  flex: 1;
  background-color: var(--syoku-01);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div73 {
  position: relative;
  color: var(--text-01);
}
.workshop-instructor {
  width: 111px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.workshop-cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.workshop-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--colors-base-white);
}
.adobe-express-parent {
  width: 442px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  font-size: var(--text-base-bold-size);
}
.workshop-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  max-width: 100%;
}
.workshop-card {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.workshop-card-wrapper {
  align-self: stretch;
  border: 2px solid var(--syoku-01);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-18xl) var(--padding-19xl);
  max-width: 100%;
}
.workshop-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 38px;
  max-width: 100%;
  font-size: var(--text-2xl-bold-size);
  color: var(--text-01);
}
.workshop-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-69xl) 199px 0px;
  box-sizing: border-box;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.workshop-highlight {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-75xl-5);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--text-base-bold-size);
  color: var(--colors-base-black);
  font-family: var(--font-noto-sans);
}
.parent14 {
  width: 101.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.location-highlight {
  width: 1029.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.design-campus {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  font-family: inherit;
}
.f {
  width: 330.2px;
  position: relative;
  line-height: var(--font-size-3xl);
  display: inline-block;
  max-width: 100%;
}
.jr4 {
  width: 230.4px;
  position: relative;
  display: inline-block;
}
.campus-location-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.address {
  width: 446px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 136px 0px 0px;
  box-sizing: border-box;
  min-width: 446px;
  max-width: 100%;
}
.map-1-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 390px;
  z-index: 1;
}
.location-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  row-gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-base-bold-size);
}
.location-content {
  width: 1046px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 63px;
  max-width: 100%;
}
.location {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-xl) var(--padding-75xl-5) var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--text-2xl-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.h36 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.f-a-q-content {
  width: 972px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.question-mark {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--syoku-01);
}
.question-circle {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0px 0px;
  z-index: 1;
}
.q {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 170%;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
  margin-left: -43px;
}
.question-bubble {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-mini) 0px 0px;
}
.answer-circle {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  border: 0px solid var(--syoku-01);
}
.answer-bubble {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  z-index: 1;
}
.a3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 170%;
  font-weight: 400;
  font-family: inherit;
  z-index: 2;
  margin-left: -41px;
}
.answer-container {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-lg) 0px 0px;
  color: var(--syoku-01);
}
.question-container {
  height: 140px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.div22 {
  position: relative;
  line-height: 170%;
}
.div83 {
  align-self: stretch;
  position: relative;
  line-height: 170%;
}
.participation-question {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
}
.participation-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-lgi);
  box-sizing: border-box;
  min-width: 354px;
  max-width: 100%;
  font-size: var(--text-base-bold-size);
  color: var(--text-01);
}
.q-a-pair {
  width: 634px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: var(--gap-11xl);
  max-width: calc(100% - 48px);
  z-index: 2;
}
.subtract-icon {
  width: 28.2px;
  height: 16.2px;
  position: relative;
}
.separator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0px 0px;
  z-index: 1;
}
.component-17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.q-a-items {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.div84 {
  position: relative;
  line-height: 170%;
  display: inline-block;
  max-width: 100%;
}
.txt {
  line-break: anywhere;
}
.div85 {
  align-self: stretch;
  height: 54px;
  position: relative;
  line-height: 170%;
  display: flex;
  align-items: center;
}
.parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frame-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-7xs);
  box-sizing: border-box;
  min-width: 498px;
  max-width: 100%;
  font-size: var(--text-base-bold-size);
  color: var(--text-01);
}
.frame-parent10 {
  width: 856px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: var(--gap-11xl);
  max-width: calc(100% - 48px);
  z-index: 2;
}
.parent7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.frame-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 0px var(--padding-7xs);
  box-sizing: border-box;
  min-width: 411px;
  max-width: 100%;
  font-size: var(--text-base-bold-size);
  color: var(--text-01);
}
.frame-parent14 {
  width: 722px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: var(--gap-11xl);
  max-width: calc(100% - 48px);
  z-index: 2;
}
.component-17-parent {
  width: 970.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--colors-base-white);
  font-family: var(--font-noto-sans-jp);
}
.f-a-q-content-parent {
  align-self: stretch;
  background-color: var(--colors-base-bg-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-69xl) var(--padding-xl) 105px;
  box-sizing: border-box;
  gap: var(--gap-11xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--text-2xl-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans);
}
.h37 {
  margin: 0;
  align-self: stretch;
  height: 84px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-47xl);
}
.parent8 {
  width: 408px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.group-section {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 64.5px var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--text-2xl-bold-size);
  color: var(--text-01);
  font-family: var(--font-noto-sans-jp);
}
.footer-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--syoku-01);
  z-index: 0;
}
.copyright-2023-design {
  position: relative;
  z-index: 1;
}
.footer-background-parent {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 36.7px var(--padding-xl) 36.5px;
  position: relative;
  text-align: left;
  font-size: var(--text-xs-normal-size);
  color: var(--colors-base-white);
  font-family: var(--font-noto-sans-jp);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--colors-base-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .workshop-content {
    padding-top: var(--padding-38xl);
    box-sizing: border-box;
  }

  .workshop-highlight {
    padding-bottom: var(--padding-42xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .navigation-links {
    display: none;
  }

  .h1 {
    font-size: var(--font-size-10xl);
  }

  .day {
    font-size: 43px;
  }

  .intro-description {
    flex-wrap: wrap;
  }

  .content {
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }

  .solution {
    padding-left: 255px;
    box-sizing: border-box;
  }

  .benefit-description {
    gap: var(--gap-11xl);
  }

  .address {
    flex: 1;
  }

  .location-details {
    flex-wrap: wrap;
  }

  .location-content {
    gap: 31px;
  }

  .q {
    font-size: var(--font-size-10xl);
    line-height: 49px;
  }

  .a3 {
    font-size: var(--font-size-10xl);
    line-height: 49px;
  }

  .f-a-q-content-parent {
    padding-top: var(--padding-38xl);
    padding-bottom: 68px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .course-navigation {
    gap: 27px;
  }

  .course-title-placeholder-parent {
    padding-left: var(--padding-5xl);
    box-sizing: border-box;
  }

  .image-placeholder-parent {
    gap: 218px;
  }

  .frame-parent {
    flex-wrap: wrap;
  }

  .group-div {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }

  .rectangle-container {
    padding-top: var(--padding-17xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }

  .solution {
    padding-left: 127px;
    box-sizing: border-box;
  }

  .course-benefits {
    gap: var(--gap-9xl);
    padding-top: var(--padding-38xl);
    padding-bottom: 51px;
    box-sizing: border-box;
  }

  .workshop-card-wrapper {
    gap: var(--gap-5xl);
  }

  .workshop-details {
    gap: 19px;
  }

  .workshop-content {
    gap: var(--gap-9xl);
    padding-left: var(--padding-80xl);
    padding-top: var(--padding-18xl);
    padding-right: var(--padding-80xl);
    box-sizing: border-box;
  }

  .workshop-highlight {
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }

  .address {
    min-width: 100%;
  }

  .map-1-icon {
    min-width: 100%;
  }

  .location-content {
    gap: var(--gap-base);
  }

  .location {
    padding-bottom: var(--padding-42xl);
    box-sizing: border-box;
  }

  .participation-question {
    gap: var(--gap-4xl);
  }

  .frame-wrapper {
    min-width: 100%;
  }

  .parent7 {
    gap: var(--gap-base);
  }

  .frame-wrapper1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-3xl);
  }

  .day {
    font-size: var(--font-size-13xl);
  }

  .image-placeholder-parent {
    gap: 109px;
  }

  .content {
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }

  .div60 {
    font-size: var(--text-base-bold-size);
    line-height: var(--font-size-10xl);
  }

  .group-div {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }

  .day1 {
    font-size: var(--font-size-lgi);
  }

  .h3 {
    font-size: var(--font-size-lgi);
  }

  .h31 {
    font-size: var(--font-size-lgi);
    line-height: 33px;
  }

  .button-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .h33 {
    font-size: var(--font-size-lgi);
    line-height: 31px;
  }

  .workshop-schedule {
    flex-wrap: wrap;
  }

  .workshop-card {
    gap: var(--gap-5xl);
  }

  .workshop-card-wrapper {
    padding-top: var(--padding-5xl);
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }

  .workshop-content {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }

  .design-campus {
    font-size: var(--font-size-lg);
  }

  .h36 {
    font-size: var(--font-size-lgi);
  }

  .q {
    font-size: var(--font-size-3xl);
    line-height: 37px;
  }

  .a3 {
    font-size: var(--font-size-3xl);
    line-height: 37px;
  }

  .participation-info {
    min-width: 100%;
  }

  .parent16 {
    gap: var(--gap-base);
  }

  .f-a-q-content-parent {
    padding-top: var(--padding-18xl);
    padding-bottom: 44px;
    box-sizing: border-box;
  }

  .h37 {
    font-size: var(--font-size-lgi);
    line-height: 34px;
  }

  .button-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
